/* ===== GENERAL ===== */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f1e8;
    color: #333;
    margin: 0;
}

/* ===== ENCABEZADO ===== */
header {
    background-color: #766c9e;
    color: white;
    padding: 20px;
    text-align: center;
}

/* ===== MENU ===== */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

nav a:hover {
    background-color: #c9a227;
    color: black;
}

/* ===== CONTENIDO ===== */
main {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
}

h2 {
    color: #000000;
}

p {
    line-height: 1.6;
    text-align: justify;
}

img {
    width: 50%;
}

/* ===== PIE DE PAGINA ===== */
footer {
    text-align: center;
    padding: 20px;
}
